html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.blogs {
    padding: 3% 15% 5%;
}

.about-us {
    background-color: white;
    text-align: center;
}

@media (min-width: 650px) {
    .affix2 {
        background-color: #474a4f;
        padding-top: 1%;
        padding-bottom: 1%;
    }

    .nav {
        height: auto;
    }
}

.h1-aboutus {
    font-weight: bold;
    padding: 10% 15% 1%;
}

/*class for every alignment*/
.info-row {
    padding: 3% 15% 5%;
    text-align: left;
    line-height: 2;
}

/*class of each and every memeber of website*/
.left-image {
    width: 50%;
    float: left;
    padding: 3% 15% 7%;
}

.right-image {
    width: 50%;
    float: right;
    padding: 3% 15% 7%;
}

/* ----dhwani stop***/
.content {
    padding: 2% 15% 3%;
    font-size: 1.25rem;
}

.blog {
    padding: 15% 15% 7%;
}

.date-2 {
    display: none;
}

@media (max-width: 1025px) {
    .blog {
        padding: 19% 15% 7%;
    }
}

@media (max-width: 900px) {
    .blog {
        padding: 22% 15% 7%;
    }

    .date {
        display: none;
    }

    .date-2 {
        display: block;
        text-align: right;
    }
}

.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #474a4f;
    border-color: #474a4f;
}

.download-app-blog {
    text-align: center;
    padding: 2%;
}

.blog-content {
    padding: 10% 10% 3%;
    text-align: center;
}

.img {
    padding-top: 1%;
}

.image {
    padding: 0;
    width: 20%;
}

@media (max-width: 900px) {
    .image {
        width: 50%;
    }
}

h3 {
    padding-top: 2%;
}

h5 {
    padding-top: 1%;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}

.title {
    padding-bottom: 3%;
}

@media (max-width: 1025px) {
    .maintain {
        padding-top: 18%;
    }
}

@media (max-width: 700px) {
    .maintain {
        padding-top: 25%;
    }
}