.banner {
    background: #a770ef;
    background: -webkit-linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
    background: linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

.img-fluid {
    width: 75%;
}

.container-fluid {
    padding-left: 5%;
    padding-right: 5%;
}

body {
    background-color: #BCE6EB;
}

/* ----dhwani start---*/
/* about us- css code*/
.h1-gallery {
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    padding: 10% 15% 1%;
    text-align: center;
}

@media (min-width: 650px) {
    .affix2 {
        background-color: #474a4f;
        padding-top: 1%;
        padding-bottom: 1%;
    }

    .nav {
        height: auto;
    }
}

@media (max-width: 1025px) {
    .h1-gallery {
        padding-top: 18%;
    }
}

@media (max-width: 700px) {
    .h1-gallery {
        padding-top: 25%;
    }
}

/*class for every alignment*/
.info-row {
    padding: 3% 15% 5%;
    text-align: left;
    line-height: 2;
}

/*class of each and every memeber of website*/
.left-image {
    width: 50%;
    float: left;
    padding: 3% 15% 7%;
}

.right-image {
    width: 50%;
    float: right;
    padding: 3% 15% 7%;
}

/* ----dhwani stop***/
.content {
    padding: 2% 15% 3%;
    font-style: Ubuntu;
    font-size: 1.25rem;
}

p {
    padding-bottom: 1%;
}

.rounded {
    align-items: center;
}

.row {
    align-items: center;
}

.bg-white {
    background-color: cyan;
}