html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

/*-- Inspiration taken from abdo steif -->
/* --> https://codepen.io/abdosteif/pen/bRoyMb?editors=1100*/
/* Navbar section */
.nav {
    z-index: 1000;
    width: 100%;
    height: 85px;
    position: fixed;
    line-height: 65px;
    text-align: center;
}

@media screen (min-width: 768px) {
    .nav {
        height: 75px;
    }
}

.nav div.logo {
    float: left;
    width: auto;
    height: auto;
}

.nav div.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 2.5rem;
}

.nav div.logo a:hover {
    color: #13F9F4;
}

.nav div.main_list {
    height: 65px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-size: 1.8rem;
}

.nav div.main_list ul li a:hover {
    color: #13F9F4;
}

/* Home section */
.home {
    width: 100%;
}

.navTrigger {
    display: none;
}

.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.navcontain {
    text-align: center;
}

/* Media qurey section */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .navcontain {
        margin: 0;
    }
}

@media screen and (max-width:768px) {
    .navTrigger {
        display: block;
    }

    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }

    .nav div.show_list {
        height: auto;
        display: none;
    }

    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100%;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #474a4f;
        /*same background color of navbar*/
        background-position: center top;
    }

    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
        padding-right: 0;
    }

    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
    }

    .nav div.media_button {
        display: block;
    }
}

/* Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */
.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

.navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }

    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }

    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(9px) rotate(0deg);
    }

    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }

    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }

    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(9px) rotate(0deg);
    }

    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }

    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }

    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(-9px) rotate(0deg);
    }

    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }

    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }

    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(-9px) rotate(0deg);
    }

    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.affix {
    padding: 0;
    background-color: #474a4f;
}

.myH2 {
    text-align: center;
    font-size: 4rem;
}

.myP {
    text-align: justify;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 20px;
}

@media all and (max-width:700px) {
    .myP {
        padding: 2%;
    }

    .nav {
        padding-top: 0;
        padding-bottom: 0;
    }
}

/*---------------Anout Us-------------*/
.aboutus {
    padding: 3% 15% 5%;
}

.whyus {
    padding: 3% 15% 5%;
    background: url(banner-2.jpg);
    color: white;
}

.products {
    padding: 3% 15% 3%;
}

/*multiple carosel*/
/*carosel close*/
.clients {
    padding: 3% 15% 5%;
}

.contactus {
    padding: 3% 15% 5%;
    background-color: #474a4f;
}

.devs {
    padding: 1% 15% 1%;
    background-color: black;
    color: white;
}

.justify {
    text-align: justify;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.inline {
    display: inline;
}

.logo {
    text-align: left;
    width: 15%;
}

.logo-dark {
    color: white;
}

.logo-light {
    color: #13F9F4;
}

.MultiCarousel {
    float: left;
    overflow: hidden;
    padding: 15px;
    width: 100%;
    position: relative;
}

.MultiCarousel .MultiCarousel-inner {
    transition: 1s ease all;
    float: left;
}

.MultiCarousel .MultiCarousel-inner .item {
    float: left;
}

.MultiCarousel .MultiCarousel-inner .item>div {
    text-align: center;
    padding: 10px;
    margin: 10px;
    background: #f1f1f1;
    color: #666;
}

.MultiCarousel .leftLst, .MultiCarousel .rightLst {
    position: absolute;
    border-radius: 50%;
    top: calc(50% - 20px);
}

.MultiCarousel .leftLst {
    left: 0;
}

.MultiCarousel .rightLst {
    right: 0;
}

.MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over {
    pointer-events: none;
    background: #ccc;
}

.resize {
    width: 75%;
}

.ff {
    padding-right: 2%;
}

.contactus {
    color: white;
}

.h5 {
    font-weight: bold;
    font-size: 2rem;
}

@media (max-width:768px) {
    .body {
        text-align: justify;
    }
}

.fprivate-link {
    color: white;
}

.ff {
    color: white;
}

.fprivate-link:hover {
    color: #13F9F4;
}

.logo-black {
    color: black;
}

.f-f-private:hover, .ff:hover {
    color: #13F9F4;
}

.yellow {
    color: yellow;
}

.bold {
    font-size: 2rem;
    font-weight: 800;
}

.responsive {
    width: 100%;
    height: auto;
    padding-top: 7%;
    padding-bottom: 8%;
}

.responsive-1 {
    width: 75%;
    height: auto;
}

.rem3 {
    font-size: 2rem;
    font-weight: normal;
}

@media (max-width: 1050px) {
    .res {
        font-size: 1.75rem;
    }

    .rem3 {
        font-size: 1.25rem;
        padding: 0;
    }
}

@media (max-width: 900px) {
    .res {
        font-size: 1.5rem;
    }

    .rem3 {
        font-size: 1rem;
        padding: 1% 1% 1%;
    }

    .res4 {
        padding-right: 0;
    }
}

@media (max-width: 650px) {
    .res {
        font-size: 1.5rem;
    }

    .rem3 {
        font-size: 1rem;
        padding: 1% 1% 1%;
    }

    .caromain {
        padding-top: 22%;
        background-color: #474a4f;
    }

    .res4 {
        padding-right: 0;
    }

    .home {
        display: none;
    }

    .nav {
        background-color: #474a4f;
        padding-top: 1%;
        padding-bottom: 1%;
    }

    .nav {
        height: 75px;
    }

    .why-content {
        text-align: center;
    }

    .about-content {
        text-align: center;
    }
}

@media (max-width: 390px) {
    .caromain {
        padding-top: 20%;
        background-color: #474a4f;
    }

    .res4 {
        padding-right: 0;
    }

    .nav {
        line-height: 1.5;
    }

    .block {
        display: block;
    }

    .carousel-caption {
        font-size: 80%;
    }
}

@media (max-width: 321px) {
    .caromain {
        padding-top: 25%;
        font-size: 75%;
    }
}

.module {
    position: relative;
}

.come-in {
    transform: translateY(150px);
    animation: come-in 0.8s ease forwards;
}

.come-in:nth-child(odd) {
    animation-duration: 0.6s;
}

.already-visible {
    transform: translateY(0);
    animation: none;
}

@keyframes come-in {
    to {
        transform: translateY(0);
    }
}

#WAButton {
    z-index: 10000;
}

.navcontain {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

@media (min-width: 1023px) and (max-width: 1441px) {
    .navcontain {
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }
}